<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}

    <title>Контактор - креативный кластер города Ульяноввск - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description%}{% endblock %}" />
    <meta name="keywords" content="{% block keywords%}{% endblock %}" />
    <meta name="robots" content="index, follow" />
    <link href="{! url_for('static', filename='css/bootstrap.min.css') !}" rel="stylesheet">
    <link href="{! url_for('static', filename='fontawesome/css/all.css') !}" rel="stylesheet">
    <link href="{! url_for('static', filename='css/style.css') !}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block headeradmin %}
    <header class="navbar navbar-dark bg-dark sticky-top p-0">
            <a class="navbar-brand py-1 px-3" href="#">LOGO</a>
            <ul class="navbar-nav d-flex flex-row pe-3">
                <li class="nav-item px-2">
                    <a class="nav-link" href="">
                        <i class="fas fa-eye" style="font-size: 24px"></i>
                    </a>
                </li>
                <li class="nav-item dropdown px-2">
                    <a class="nav-link dropdown-toggle" href="#" type="button" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="pe-1 justify-content-center">Логин</span>
                        <i class="far fa-user-circle ps-1" style="font-size: 32px"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownProfile">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user"></i>
                                Профиль
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cog"></i>
                                Настройки
                            </a>
                        </li>
                        <hr class="dropdown-divider">
                        <li>
                            <a class="dropdown-item" href="{!url_for('admin.logout')!}">
                                <i class="fas fa-sign-out-alt"></i>
                                Выйти
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}

<main class="container-fluid">
    <div class="row">

        <nav id="sidebar" class="col-lg-2 bg-light sidebar" style="position: fixed; top: 0; bottom: 0;  left: 0;  z-index: 100;  padding: 56px 0 0;   box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);">
          <div class="position-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="" data-bs-toggle="collapse" href="#residents" role="button" aria-expanded="false" aria-controls="collapseExample">Резиденты площадки</a>
                <div class="collapse" id="residents">
                    <div class="card card-body">
                            <a class="nav-link" href="{!url_for('admin.residents')!}">Управление персонами</a>
                            <a class="nav-link" href="#">Общая информация</a>
                            <a class="nav-link" href="#">Заявки на мероприятия</a>
                            <a class="nav-link" href="#">Бухгалтерия</a>
                            <a class="nav-link" href="#">Документы</a>
                            <a class="nav-link" href="#">Статистика</a>

                    </div>
                </div>
              </li>
                <li class="nav-item">
                <a class="" data-bs-toggle="collapse" href="#areas" role="button" aria-expanded="false" aria-controls="collapseExample">Площадка</a>
                <div class="collapse" id="areas">
                    <div class="card card-body">
                        <div>
                            <a class="nav-link" href="#">Общая информация</a>
                            <a class="nav-link" href="#">Финансовая информация</a>
                            <a class="nav-link" href="#">Собственные мероприятия</a>
                            <a class="nav-link" href="#">Технические заявки</a>
                            <a class="nav-link" href="#">Управление персоналом</a>
                            <a class="nav-link" href="{!url_for('admin.area')!}">Управление помещениями</a>
                            <a class="nav-link" href="#">Датчики</a>
                            <a class="nav-link" href="#">Видеокамеры</a>
                            <a class="nav-link" href="#">Службы безопасности</a>
                        </div>
                    </div>
                </div>
              </li>
                                <li class="nav-item">
                <a class="" data-bs-toggle="collapse" href="#portal" role="button" aria-expanded="false" aria-controls="collapseExample">Портал площадки</a>
                <div class="collapse" id="portal">
                    <div class="card card-body">
                        <div>
                            <a class="nav-link" href="#">Настройки</a>
                            <a class="nav-link" href="#">Макеты</a>
                            <a class="nav-link" href="#">Нагрузка</a>
                            <a class="nav-link" href="#">Модули</a>
                            <a class="nav-link" href="#">Статистика</a>
                            <a class="nav-link" href="#">Утилиты</a>
                        </div>
                    </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
{% block content %}{% endblock %}


      </div>
    </main>
    <script src="{! url_for('static', filename='js/bootstrap.bundle.min.js') !}"></script>
</body>
</html>