{% extends "admin/baseadmin.html" %}
{% block title %}Управление помещениями{% endblock %}
{% block description %}Управление помещениями{% endblock %}
{% block keywords %}Управление помещениями{% endblock %}
{% block head %}
    {! super() !}
{% endblock %}
{% block headeradmin %}{! super() !}{% endblock %}
{% block content %}
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" >
          <a class="mt-5 float-end" href="{!url_for('admin.areacreate')!}"><button type="button " class="btn btn-dark ">Добавить помещение</button></a>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Занятость</th>
      <th scope="col">Площадь</th>
      <th scope="col" colspan="2">Действия</th>
    </tr>
  </thead>
  <tbody>
      {% for area in areas %}
    <tr>
      <th scope="row">{! area.id !}</th>
      <td>{! area.title !}</td>
      {% if area.user_id != "0" %}
      <td>Занято</td>
      {% else %}
      <td>Свободно</td>
      {% endif %}
      <td>{! area.square !}</td>
      <td><a href="#">Редактировать</a></td>
      <td><a href="#">Удалить</a></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}