{% extends "admin/baseadmin.html" %}
{% block title %}Admin Panel{% endblock %}
{% block description %}Admin Panel{% endblock %}
{% block keywords %}Admin Panel{% endblock %}
{% block head %}
    {! super() !}
{% endblock %}
{% block headeradmin %}{! super() !}{% endblock %}
{% block content %}
          <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4" >
              <div class="d-flex mt-4">
              <div class="col-md-1 text-center bg-light me-2">
                <h1>234</h1>
                <p>Резидентов</p>
              </div >
              <div class="col-md-1 text-center bg-light me-2">
                <h1>234</h1>
                <p>резидентов</p>
              </div>
                     <div class="col-md-1 text-center bg-light me-2">
                <h1>235</h1>
                <p>заявок</p>
                     </div>
                     <div class="col-md-1 text-center bg-light me-2">
                <h1>2346</h1>
                <p>посетителей</p>
                     </div>
                     <div class="col-md-1 text-center bg-light me-2">
                <h1>218</h1>
                <p>задолжностей </p>
                     </div>
                     <div class="col-md-1 text-center bg-light">
                <h1>209</h1>
                <p>мест свободно</p>
                     </div>
              </div>
              <div class="d-flex mt-4">
                  <div class="col-md-6 bg-light">
                      <h4>Все сообщения резидентов</h4>
                      <p>%resident1% - где свет?</p>
                      <p>%resident2% - где вода?</p>
                      <p>%resident3% - где воздух?</p>
                      <p>%resident4% - что я делаю?</p>
                  </div>
                  <div class="col-md-6 bg-light">
                      <h4>Все технические заявки</h4>
                      <p>%resident1% - где свет?</p>
                      <p>%resident2% - где вода?</p>
                      <p>%resident3% - где воздух?</p>
                      <p>%resident4% - что делать?</p>
                  </div>
              </div>
          </div>
{% endblock %}