{% extends "maintemp.html" %}
{% block title %}Главная{% endblock %}
{% block description %}Главная{% endblock %}
{% block keywords %}Главная{% endblock %}
{% block head %}
{! super() !}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">

        <form class="" method="POST" action="{! url_for('admin.authorize') !}">
            {! form.hidden_tag() !}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Пожалуйста, выирите пользователя:</label>

                    <select name="comp_select" class="selectpicker form-control" id="exampleFormControlInput1">
                        {% for user in user %}
                        <option value="{! user.username !}">{! user.username !}</option>
                        {% endfor %}
                    </select>
                </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
