<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}

    <title>Контактор - креативный кластер города Ульяноввск - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{% block description%}{% endblock %}" />
    <meta name="keywords" content="{% block keywords%}{% endblock %}" />
    <meta name="robots" content="index, follow" />
    <link href="{! url_for('static', filename='css/bootstrap.min.css') !}" rel="stylesheet">
    <link href="{! url_for('static', filename='css/style.css') !}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.1.5/vue.global.prod.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/4.0.0/vuex.global.prod.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-axios@3.2.5/dist/vue-axios.min.js"></script>
    {% endblock %}
</head>
<body>
{% block headeradmin %}
    <header class="navbar navbar-dark bg-dark sticky-top p-0">
            <a class="navbar-brand py-1 px-3" href="#">LOGO</a>
            <ul class="navbar-nav d-flex flex-row pe-3">
                <li class="nav-item px-2">
                    <a class="nav-link" href="">
                        <i class="fas fa-eye" style="font-size: 24px"></i>
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="">
                        <span class="pe-1 justify-content-center">Логин</span>
                        <i class="far fa-user-circle ps-1" style="font-size: 32px"></i>
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" href="{!url_for('admin.logout')!}">
                        <span class="pe-1 justify-content-center">Выход</span>
                        <i class="far fa-user-circle ps-1" style="font-size: 32px"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
<!--    <div id="footer">-->
<!--        {% block footer %}-->
<!--        &copy; Copyright 2021 by-->
<!--        {% endblock %}-->
<!--    </div>-->
    <script src="{! url_for('static', filename='js/bootstrap.bundle.min.js') !}"></script>
</body>
</html>